#register-form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
    background-color: #eee;
    margin-top: 30px;
    border: 1px solid #bbb;
    border-radius: 3px;  
}

#register-form label {
    padding: 5px;
}

#register-form input[type=text] {
    border-radius: 3px;
    border: 1px solid #bbb;
    height: 30px;
}

#register-form input[type=password] {
    border-radius: 3px;
    border: 1px solid #bbb;
    height: 30px;
}

#register-form input[type=submit] {
    border-radius: 3px;
    border: 1px solid #bbb;
    height: 30px;

    margin-top: 20px;
}

#register-form input[type=submit]:hover {
    background-color: #eee;
    cursor: pointer;
}

#error-message {
    color: #fa4d56;    
    font-size: 16px;
    margin-left: -250px;
}

#register-container {
    max-width: 700px;
    margin: 0 auto;
}