.container {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.post-body {
    border: 1px solid #aaa;
    padding: 10px;   
    margin: 10px;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}


.post-body img {
    width: 650px;
    height: 460px;
}

.post-body a {
    max-width: 60px;
    margin: 5px;
    border-radius: 2px;
    
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    
    padding: 4px;
    font-family: Arial;
}

.post-body-buttons-container {
    
    float: right;
    
}

.post-body-buttons-container div {
    
    width: 150px;
    float: right;
}

.post-body button {
    max-width: 60px;
    margin: 5px;
    border: none;
    font-weight: normal;
    text-decoration: underline;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post-body button:hover {
    cursor: pointer;
}

.comments {
    margin-top: 10px;
    background-color: #eee;
    padding: 10px;
}



.comments form {
    margin: 10px;
    padding: 5px;
}

.comments form textarea {
    border-radius: 4px;
    border: 1px solid #aaa;
    width: 600px;
    max-width: 600px;
    height: 100px;
    margin-top: 20px;
    resize: none;
}

.comments form input {
    background-color: black;
    color: white;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}

.comment {
    margin: 10px;
    padding: 10px;
}

.commentUser {
    
    padding: 10px;  
    margin-bottom:100px;  

}